[submodule "lib/googletest"]
	path = lib/googletest
	url = https://github.com/google/googletest
[submodule "lib/zstd"]
	path = lib/zstd
	url = https://github.com/facebook/zstd
[submodule "lib/openssl-cmake"]
	path = lib/openssl-cmake
	url = https://github.com/janbar/openssl-cmake
